$default-font: 'Montserrat', sans-serif
$title-font: 'Montserrat', sans-serif

$accent: #7E5FA6
$red: #A9111C
$color-text: #303335

$radius: 50%

$glitch-width: 40vmax
$glitch-height: calc(40vmax * 1.25)

$gap-horizontal: 10px
$gap-vertical: 2px

$time-anim: 2.25s

$blend-color-1: $accent
$blend-color-2: transparent
$blend-color-3: transparent
$blend-color-4: transparent
$blend-color-5: transparent

$blend-mode-1: luminosity
$blend-mode-2: luminosity
$blend-mode-3: luminosity
$blend-mode-4: luminosity
$blend-mode-5: luminosity


$aos-distance: 70px 









