.contacts
	
	




.feedback
	+row-flex()
	justify-content: center
	margin: 100px 0
	

	label
		font-size: 20px
		font-weight: 700
		margin: 30px 0
		cursor: pointer

	span
		color: $accent
		

	input:not(.send), textarea
		padding: 15px 0 15px 10px
		font-size: 18px
		border: none
		border-bottom: 2px solid $accent
		border-radius: 5px
		


		&:focus::placeholder
			opacity: 0

	
.inputbox
	+row-flex()
	+size(12)
	justify-content: center

	&__name,
	&__email
		+col()
		+size(4)
		display: flex
		flex-flow: column nowrap

.textbox
	+row-flex()
	+size(12)
	flex-direction: column
	justify-content: center
	align-items: center
	
	label
		+col()
		+size(8)
		

.message
	+col()
	+size(8)
	
	
	resize: none

.required
	+size(12)
	margin: 20px 0


	span
		text-align: center
		display: block
		color: $color-text

.send
	+size(3)

	margin: 0 0 30px 0
	color: $accent
	background: none
	border: none
	outline: none
	border-top: 2px solid $accent
	border-bottom: 2px solid $accent
	border-radius: 5px
	font-size: 18px
	padding: 15px
	cursor: pointer
	transition: transform .3s ease
	font-weight: 700

	&:hover
		transform: scaleY(.9)

	&:focus
		transform: scaleX(1.1)
		