.footer
	

	position: relative
	





.logo
	+row-flex()
	justify-content: center
	padding: 250px 0 0 0
	

	img
		cursor: pointer
		+size(3)

.motto
	display: flex
	justify-content: center
	padding: 20px 0 0

	span
		width: 40%
		text-align: center
		color: $red
		
		font-size: 26px


.triangle-footer
	background-image: linear-gradient(to right top, #6c33a3 50% , #fff 50.1% )
	height: 0
	padding-bottom: 10%



.author
	background-image: linear-gradient(to bottom, #6c33a3 0%, #8241b8 74%)

.social
	display: flex
	justify-content: center
	
	
	padding: 50px 0

	span
		display: flex
		align-items: center
		justify-content: center
		padding: 12px 
		margin: 0 20px
		color: #fff
		cursor: pointer
		border-radius: 50%
		
		border: 2px solid #fff
		overflow: hidden

		&::before
			width: 34px
			font-size: 34px

		&:hover
			color: $accent
			background: #fff
			

		&:hover:nth-child(1)
			//border: 2px solid #4867AA
			color:#4867AA
		&:hover:nth-child(2)
			//border: 2px solid #5DA9DD
			color:#5DA9DD
		&:hover:nth-child(3)
			//border: 2px solid #0077B5
			color:#0077B5
		&:hover:nth-child(4)
			//border: 2px solid #D43F34
			color:#D43F34
		&:hover:nth-child(5)
			//border: 2px solid #323131
			color:#323131

.copyright
	
	
	
	h3
		text-align: center
		color: #fff
		
		padding: 15px 0
		font-size: 18px


.cip-facebook:hover::before,
.cip-vkontakte:hover::before,
.cip-twitter:hover::before,
.cip-linkedin:hover::before,
.cip-gplus:hover::before,
.cip-mail-alt:hover::before,
.cip-telegram:hover::before,
.cip-github-circled:not(.no-anim):hover::before,

	animation: slide-down .5s


