.nav
	display: none
	justify-content: center
	align-items: center
	flex-direction: column

	

	
	position: fixed
	right: 0
	top: 0
	height: 100%
	width: 100%
	overflow: hidden
	transition: .6s
	background: #000
	z-index: 10
	animation: fadeIn 1s


	&__list
		
		width: 100%
		


		

		
		

	&__link
		
		+lg(font-size, 50px)
		+xs(font-size, 40px)
		+xs(padding, 20px 10px)


		padding: 5px 0 5px 100px
		
		
		display: block
		overflow: hidden
		position: relative
		color: #7F00FF
		text-decoration: none
		transition: background 1s
		font-size: 60px
		font-family: $title-font
		font-weight: 400
		animation: slide-up 1s 

			



		

		span
			position: relative
			pointer-events: none

		&:hover
			background: #333399
			color: #fff
			text-shadow: 0 0 3px #fff

		&::before
			--size: 0
			content: ''
			position: absolute
			left: var(--x)
			top: var(--y)
			width: var(--size)
			height: var(--size)
			background: radial-gradient(circle closest-side, #ff00cc, transparent) //
			transform: translate(-50%, -50%)
			transition: width .5s ease, height .5s ease

		&:hover::before
			--size: 1500px

		

			



