.nav
	display: none
	justify-content: center
	align-items: center
	flex-direction: column

	

	
	position: fixed
	right: 0
	top: 0
	height: 100%
	width: 100%
	overflow: hidden
	transition: .6s
	background: #000
	z-index: 10
	animation: fadeIn 1s


	&__list
		
		width: 100%
		+size-lg(8)
		+size-sm(10)
		+size-xs(12)



		

		
		

	&__link
		+md(padding, 20px)
		+md(font-size, 20px)
		+xs(font-size, 17px)
		+xs(padding, 20px 10px)


		padding: 5px 0 5px 100px
		
		
		display: block
		overflow: hidden
		position: relative
		color: #7F00FF
		text-decoration: none
		transition: background 1s
		font-size: 60px
		font-family: $title-font
		font-weight: 400
		animation: slide-up 1s 

			



		

		span
			position: relative
			pointer-events: none

		&:hover
			background: #7F00FF
			color: #fff

		&::before
			--size: 0
			content: ''
			position: absolute
			left: var(--x)
			top: var(--y)
			width: var(--size)
			height: var(--size)
			background: radial-gradient(circle closest-side, #E100FF, transparent) //
			transform: translate(-50%, -50%)
			transition: width .5s ease, height .5s ease

		&:hover::before
			--size: 1500px

			

button.nav__closebtn

	
	+lg(font-size, 54px)
	+lg(right, 10px)
	+xs(font-size, 40px)
	+xs(top, 0)
	
	
	border: none
	background: transparent
	color: $accent
	width: 60px
	height: 60px
	cursor: pointer
	position: absolute
	top: 30px
	right: 150px
	outline: none
	
	

	&:hover span:first-child
		transform: rotate(-45deg) 
		

	&:hover span:last-child
		transform: rotate(45deg) 
	
	&:focus span:first-child
		transform: rotate(-45deg) scale(20)
		
	&:focus span:last-child
		
		transform: rotate(45deg) scale(20)

	span
		position: relative
		
		display: block
		transition: all .45s
		height: 5px
		background: #7F00FF
		border-radius: 10px
		box-shadow: 0 0 5px #7F00FF

		&:first-child
			top: 5px
			transform: rotate(45deg)

		&:last-child
			transform: rotate(-45deg)

		



