.section-title--2 span
	background: linear-gradient(to right, #8C58DA, #55229F)


.wrapper
	+wrapper()

.projects

	+row-flex()
	
	&__item
		+col()
		+size(6)
		
		margin-bottom: 20vh
		
		border-radius: 5px

	&__item:first-child
		background: linear-gradient(to right, #8C58DA, #55229F )

	&__item:last-child
		background: linear-gradient(to right, #55229F, #8C58DA)
		

	&__title
		text-align: center
		font-family: $title-font
		font-weight: bold
		font-size: 40px
		color: #fff
		margin-top: 20px 
		margin-bottom: 80px 

		span
			display: block
		span:last-child
			font-weight: 400


.tech
	+row-flex()
	justify-content: center
	cursor: pointer
	

	&__main
		+col()
		+size(8)

		margin-bottom: 20px
		
		display: flex
		flex-direction: column
		justify-content: center
		border: 15px solid #fff
		border-radius: 50px
		

		span
			display: block
			margin: 0 auto
			text-align: center
			font-family: $title-font
			font-weight: 700
			color: #fff
			font-size: 70px

	&__main--2
		
		order: 2
		background: none
		


		span
			font-family: $title-font
			font-weight: 400
			color: #fff
			font-size: 200px


	&__webtech
		+col()
		+size(3)

		display: flex
		justify-content: space-between
		flex-direction: column
		align-items: center
		

		span
			border: 2px solid #FFF
			padding: 25px 0
			width: 100%
			margin-bottom: 20px
			font-size: 60px
			border-radius: 10px
			filter: blur(10px)
			
			background-color: #fff
			display: flex
			justify-content: center

	&__webtech--2
		order: 1

		span
			border-radius: 10px

	&__horizontal
		+row-flex()
		+size(12)
		justify-content: center


		span
			
			+size(4)
			
			filter: blur(10px)
			border-radius: 10px
			background: #fff
			font-size: 70px
			text-align: center
			margin-bottom: 20px

		span:nth-child(1)
			margin-left: auto
		span:nth-child(2)
			margin: 0 auto 20px
		span:nth-child(3)
			margin-right: auto

	&__horizontal
		order: 3



			
[class*=" cip-"]:before, [class^=cip-]:before
	margin: 0 auto
	width: auto

.cip-gulp
	color: #EB4A4B

.cip-sass
	color: #c69

		
.cip-html5
	color: #E44D26

.cip-css3
	color: #006EBB
.cip-javascript
	color: #F7DF1E

		












