.another-works
	background: #fff


.projects
	
	+row-flex()
	
	&__item
		+col()
		+size(6)
		
		
		
		/* border-radius: 5px */
		/* border: 4px solid $red */
		/* background-image: linear-gradient(to bottom, #272B33 30%, #1D4246 100%) */


	&__item:first-child
		/* background: linear-gradient(to right, #8C58DA, #55229F ) */


	&__item:nth-child(2)
		/* background: linear-gradient(to right, #55229F, #8C58DA) */

		


	&__item:last-child
		+col()
		+size(12)
		+row-flex()
		margin: 50px auto
		justify-content: center
		background-image: linear-gradient(to bottom, #272B33 50%, #1D4246 100%)
		border-radius: 10px
		

	&__title
		text-align: center
		font-family: $title-font
		font-weight: bold
		font-size: 40px
		color: $accent //#fff
		margin-top: 20px 
		margin-bottom: 80px 

		span
			display: block
		span:last-child
			font-weight: 400

	
		

	&__title--art
		+col()
		+size(7)
		margin: 100px auto
		
		font-weight: 900
		font-size: 90px
		text-align: center
		transition: all .5s 

		span
			font-family: 'Fontdiner Swanky', sans-serif //'Fontdiner Swanky', cursive


		&:hover
			color: #fff
			cursor: pointer
			text-shadow: 0 0 10px #fff
	&__artbox
		+col()
		+size(5)
		display: flex
		justify-content: flex-start
		align-items: center
		position: relative
		cursor: pointer
		margin: 100px auto

		&:hover .moon
			transform: rotate(20deg)

		&:hover .cloud--1
			transform: translate(40px, 0)
		&:hover .cloud--2
			transform: translate(-40px, 0)


		

	&__text
		+col()
		+size(12)

		color: #fff
		font-size: 20px
		font-weight: 300




		p
			margin: 20px auto
			width: 47%

			&::selection
				color: #fff
				background: #FF802A

	&__codepen
		+col()
		+size(4)

		display: block
		padding: 10px
		text-align: center
		border: 5px solid #DBDBDB
		color: #DBDBDB
		text-decoration: none
		font-weight: 800
		font-size: 20px
		margin: 100px auto
		transition: .5s background

		&:hover
			background: #1F1C1D


		span
			font-size: 25px
			margin-left: 20px



	

.moon

	width: 50%
	height: 0
	padding-bottom: 50%
	/* margin: 20px auto */
	border-radius: 50%
	background-image: linear-gradient(to bottom, #FFAB19 50%, #FF6C32 100%)
	transition: all .5s 
	

.empty
	width: 80%
	height: 0
	padding-bottom: 80%
	background-color: #272B33
	border-radius: 50%
	overflow: hidden

.cloud
	width: 60%
	height: 0
	padding-bottom: 35%
	transition: all .5s 
	
	position: absolute
	

.cloud--1 
	top: 170px
	right: 65%


.cloud--2 

	top: 110px
	right: 0

	.circle
		background: #5A757D

.circle
	width: 35%
	height: 0
	padding-bottom: 35%
	border-radius: 50%
	background-color: #3D5860
	position: absolute

.c-1
	left: 0
	top: 30%

.c-2 
	top: -10%
	left: 25%

.c-3
	top: 0%
	left: 50%

.c-4
	top: 40%
	left: 25%

.c-5 
	top: 30%
	left: 50%

.tech
	+row-flex()
	justify-content: center
	

	

	&__main
		+col()
		+size(8)

		margin-bottom: 20px
		display: flex
		flex-direction: column
		justify-content: center
		border: 15px solid $accent
		border-radius: 50px
		position: relative
		overflow: hidden
		transition: all .5s
		cursor: pointer
		
		
		

		.tech__title
			display: block
			margin: 0 auto
			text-align: center
			font-family: $title-font
			font-weight: 700
			color: $accent
			font-size: 70px

	&__overlay
		position: absolute

		

		z-index: 100
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		background: #fff
		font-size: 60px
		opacity: 0
		transition: all .7s
		transform: translateX(-50px)

		&:hover
			opacity: 1
			transform: translateX(0)

	
			

		a
			color: $accent
			border: 3px solid $accent
			width: 100px
			height: 100px
			text-align: center
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center

	&__overlay--2
		transform: translateX(50px)
			
	
	&__main--2
		
		order: 2
		
		


		.tech__title
			font-family: $title-font
			font-weight: 400
			color: $accent
			font-size: 160px


	&__webtech
		+col()
		+size(3)

		display: flex
		justify-content: space-between
		flex-direction: column
		align-items: center
		

		span
			/* border: 2px solid $accent */
			padding: 25px 0
			width: 100%
			margin-bottom: 20px
			font-size: 60px
			border-radius: 10px
			/* filter: blur(10px) */
			/* transition: filter .2s */
			cursor: pointer
			border: 1px solid $accent
			color: $accent
			overflow: hidden
			background-color: #fff
			display: flex
			justify-content: center

			&:hover
				filter: none

	&__webtech--2
		order: 1

		span
			border-radius: 10px

	&__horizontal
		+row-flex()
		+size(12)
		justify-content: center


		span
			
			+size(4)
			
			cursor: pointer
			/* filter: blur(10px) */
			border-radius: 10px
			background: #fff
			font-size: 70px
			text-align: center
			margin-bottom: 20px
			overflow: hidden
			border: 1px solid $accent
			

			

			

		span:nth-child(1)
			margin-left: auto
		span:nth-child(2)
			margin: 0 auto 20px
		span:nth-child(3)
			margin-right: auto

	&__horizontal
		order: 3

	&__text
		+col()
		+size(11)

		order: 4
		color: $color-text
		font-family: $title-font

		ul, li
			+col()

			list-style-type: circle
			margin-top: 20px
			margin-bottom: 20px
			font-size: 19px

		p
			+col()
			
			font-size: 20px
			margin-top: 40px
			margin-bottom: 40px
			

		strong
			background: $accent //#fff 
			color: #fff//#8753D4
			padding: 5px
			border-radius: 5px

		a
			background: none
			text-decoration: none
			border: 1px solid $accent
			padding: 5px
			border-radius: 5px
			color: inherit
			transition: .2s all

			&:hover
				background: $accent
				color: #fff

	
		




			
[class*=" cip-"]:before, [class^=cip-]:before
	margin: 0 auto
	width: auto

.cip-gulp::before,
.cip-sass,
.cip-html5,
.cip-css3,
.cip-javascript,
.cip-fontello
	
	color: $accent


.cip-gulp:hover::before
	color: #EB4A4B
	animation: slide-down .5s 

.cip-sass:hover::before
	color: #c69
	animation: slide-down .5s 

		
.cip-html5:hover::before
	color: #E44D26
	animation: slide-down .5s  

.cip-css3:hover::before
	color: #006EBB
	animation: slide-down .5s  

.cip-javascript:hover::before
	color: #F7DF1E
	animation: slide-down .5s  

.cip-fontello:hover::before
	color: #000
	animation: slide-down .5s  

		












